body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Mate SC", serif;
  overflow-x: hidden;
}
.box {
  color: black;
  background: url("flower.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 10px 10px 10px 10px rgb(46, 40, 40);
}
.text1 {
  font-size: 40px;
}
.text2 {
  font-size: 40px;
}
.icons a {
  color: black;
  font-size: 30px;
  letter-spacing: 20px;
}
.navbar-nav {
  color: white;
  font-size: 18px;
}
.card {
  box-shadow: 10px 10px 10px 10px;
}
.contacti {
  font-size: 30px;
  letter-spacing: 20px;
}
